.git
__pycache__/
*.pyc

.nextflow/
.nextflow.log*
work/
interpro_work/

interpro_data/
vogdb_data/
raw_outputs/

runs/*/annotation/interpro/nextflow_out/
runs/*/homologs/vogdb_raw/
runs/*/reports/
runs/*/msa/
runs/*/structure/colabfold_out*/
runs/*/conservation/
runs/*/docking/

*.hmm
*.h3f
*.h3i
*.h3m
*.h3p
*.tar.gz
*.zip
*.pdb
*.cif
*.a3m
*.m8
*.json
*.jsonl
*.xml
*.gff3